{% extends "base.html" %}
{% import "macros/page.html" as page %}
{% import "macros/section.html" as section %}
{% import "macros/navigation.html" as navigation %}

{% block title %}
#{{ term.name }} &middot; {{ super() }}
{% endblock title%}

{% block head %}
{% if taxonomy.feed %}
<link rel="alternate" type="application/rss+xml" title="#{{ term.name }}RSS - {{ config.title }}"
  href="{{ current_path | safe }}{{ config.feed_filename }}">
{% endif %}
{% endblock head %}

{% block content %}
<article class="tag-pages">
  <h2>#<a href="{{ get_url(path=term.permalink) | safe }}">{{ term.name }}</a></h2>
  {{ navigation::pagination(paginator=paginator) }}
  {% if paginator %}
  {{ section::list(pages=paginator.pages) }}
  {% else %}
  {{ section::list(pages=term.pages) }}
  {% endif %}
  {{ navigation::pagination(paginator=paginator) }}
</article>
{% endblock content %}