article.page-preview {
  // border-left: 1rem solid lightgray;
  padding-left: 1rem;
  line-height: 1.4;
}

article.page-preview, article.page {
  // border-left: 1rem solid lightgray;
  // padding-left: 1rem;
  // line-height: 1.4;
  
  .page-title {
    // background-color: yellow;
    font-size: 1rem;
  }

  .page-meta {
    color: darkslategray;
    font-size: 0.6rem;

    a {
      color: darkslateblue;
      border-bottom: none;
    }
    a:visited {
      color: darkslateblue;
      border-bottom: none;
    }
  span {
    display: inline-block;
  }

  }

  .page-date {
    // background-color: yellowgreen;
    font-style: normal;
  }

  .page-word-count, .page-reading-time {
    display: inline-block;
    font-style: normal;
  }

  .page-tags {
    display: inline-block;
    font-style: normal;
  }

  .page-description {
    font-size: 0.8rem;
    font-style: italic;
    color: darkslategray;
    margin: 0.4rem 0 0 0;
  }
}

// article.page {
//   background-color: peru;

//   .page-title {
//     background-color: yellow;
//   }

//   .page-date {
//     background-color: yellowgreen;
//   }

//   .page-summary {
//     background-color: lightgreen;
//   }

//   .page-content {
//     background-color: mediumpurple;
//   }

//   .page-length {
//     background-color: olive;
//   }

//   .page-tags {
//     background-color: orchid;
//   }
// }
