article.tags {
  margin-bottom: 1rem;
  a {
    border: 0;
  }

  // background-color: sandybrown;

  // .tags-list li {
  //     background-color: seashell;
  // }

  .page-count {
    // background-color: slateblue;
    display: inline;
  }
}

article.tag-pages {
  // background-color: turquoise;
}
