{% macro page(page) %}
<article>
  <h3><a href="{{ get_url(path=page.path) }}">{{ page.title }}</a></h3>
  {% if page.date or page.updated %}
  <span>{{ page.updated | default(value=page.date) | date(format="%B %d, %Y") }}</span>
  {% endif %}
  {% if page.summary %}
  <p>{{ page.summary | safe }}</p>
  {% endif %}
</article>
{% endmacro %}


{% macro section_preview(path, count=0) %}
<section class="preview">
  {% set section = get_section(path=path ~ "_index.md") %}
  {% set pages = paginator.pages | default(value=section.pages) %}
  <h2><a href="{{ get_url(path=section.path) }}">{{ section.title }}</a></h2>
  {% for page in pages | sort(attribute="date") | slice(start=-1 * count) | reverse %}
  {{ section::page(page=page) }}
  {% endfor %} 
</section>
{% endmacro %}

{% macro list(pages) %}
{% for page in pages %}
{{ section::page(page=page) }}
{% endfor %}
{% endmacro %}


{% macro section(path, count=0) %}
<section class="list">
  {% set section = get_section(path=path ~ "_index.md") %}
  {% set pages = paginator.pages | default(value=section.pages) %}
  <h2><a href="{{ get_url(path=section.path) }}">{{ section.title }}</a></h2>
  {{ section::list(pages=pages) }}
</section>
{% endmacro %}


{% macro preview(count=0) %}
{% for section_name in config.extra.index_preview %}
{{ section::section_preview(path=section_name ~ "/", count=count) }}
{% endfor %}
{% endmacro%}

{%- macro pagination(paginator) -%}
{% if paginator.next %}
  <a rel="next" href="{{paginator.next}}">◀ Older</a>
{% endif %}
{% if paginator.next and paginator.previous %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
{% if paginator.previous %}
  <a rel="prev" href="{{paginator.previous}}">Newer ▶</a>
  {% endif %}
{%- endmacro pagination -%}
