{%- macro content(section, show_title=true, show_content=true) -%}
<article class="section-content">
  {% if show_title %}
  <h2 class="section-title"><a href="{{ get_url(path=section.path) | safe }}">{{section.title}}</a></h2>
  {% endif %}
  {% if show_content %}{{ section.content | safe }}{% endif %}
</article>
{%- endmacro -%}


{%- macro pages(section) -%}
{% set pages = paginator.pages | default(value=section.pages) %}
{{ section::list(pages=pages) }}
{%- endmacro -%}


{%- macro list(pages) -%}
<nav class="section-list" title="list of pages">
<ul>
{% for page in pages %}
  <li>{{ page::preview(page=page) }}</li>
{% endfor %}
</ul>
</nav>
{%- endmacro -%}


