<h1>Hooray! You have set up the <code>hiway</code> theme.</h1>
<p>
  Next step is to create/configure a section that will show up here.
</p>
<h2>Show content on the home page:</h2>
<p>
  Use the following template to create <code>content/home/_index.md</code>:
</p>
<pre>
+++
title = "Home"
template = "index.html"
+++

# Content Goes here

It will appear on the home page / index.
</pre>
<p>
  And add this line to your <code>config.toml</code>:
</p>
<pre>
[extra]
index_content = "home"
</pre>

<h2>Display list of recent posts from your blog:</h2>
<p>
  Create <code>content/blog/_index.md</code> using the following template:
</p>
<pre>
+++
title = "Blog"
sort_by = "date"
+++
</pre>
<p>
  Now create a post at <code>content/blog/first-post.md</code>:
</p>
<pre>
+++
title = "First Post"
date = 2020-11-20
+++

It begins!

<!-- more -->

Here it is.

</pre>
<p>
  Add this line to your <code>config.toml</code>:
</p>
<pre>
[extra]
index_preview = ["blog"]
</pre>
<p>
  You can add multiple sections to <code>index_preview</code>.
</p>