<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include "includes/base/style.html" %}
	{%- block head %}{% endblock head %}
</head>

<body>
	<header class="main">
		{% include "includes/toolbar.html" %}
		{% include "includes/sidebar.html" %}
		<hr />
		{%- block header %}{% endblock header %}
	</header>
	<main>
		{% block content %}{% endblock content %}
	</main>
	<footer class="main">
		{%- block footer %}{% endblock footer %}
		{% include "includes/footer.html" %}
	</footer>
</body>

</html>