{% import "macros/header.html" as header %}
{% import "macros/footer.html" as footer %}
{% import "macros/section.html" as section %}
{% import "macros/page.html" as page %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if config.extra.style_enable | default(value=true) %}
	<link rel="stylesheet" href="{{ get_url(path='/css/style.css') | safe }}">
	{% endif %}
	{%- block head %}{% endblock head %}
</head>
<body>
	<header class="main">
		{{ header::toolbar() }} 
	</header>
	<hr/>
	<main>
		{% block content -%}{%- endblock content %}
	</main>
	<hr/>
	<footer>
    {{ footer::made_with() }}
	</footer>
</body>

</html>