{% extends "base.html" %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/section.html" as section %}
{% import "macros/page.html" as page %}

{% block title %}
{{ section.title }} - {{ super() }}
{% endblock title%}

{% block content %}
<h2 class="section-title"><a href="{{ get_url(path=section.path) | safe }}">{{section.title}}</a></h2>
{% if paginator %}{{ navigation::pagination(paginator=paginator) }}{% endif %}
{{ section::content(section=section, show_title=false) }}
{{ section::pages(section=section) }}
{% if paginator %}{{ navigation::pagination(paginator=paginator) }}{% endif %}
{% endblock content %}
